#map-select-map {
    min-height: 90vh;
}

#iframe_report {
    min-height: 90vh;
}


.shiny-notification {
    position: fixed;
    top: calc(1%);
    left: calc(1%);
    width: 98%;
    font-weight: bold;
    text-align: center;
}

.shiny-notification-message {
    color: #0fbadc;
    background-color: #e7fafe;
    border: 1px solid #8de6f8;
}

.shiny-notification-warning {
    color: #f1b708;
    background-color: #111;
    border: 2px solid #ffedb7;
}

.shiny-notification-error {
    color: #c93342;
    background-color: #111;
    border: 1px solid #f8d5d8;
}